<form method="post" action="{{ path('pedido_delete', {'id': pedido.id}) }}" onsubmit="return confirm('Estas seguro que queres borrar el item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pedido.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
