{% extends 'base.html.twig' %}

{% block title %}Editar proveedor{% endblock %}

{% block body %}
    <h1>Editar proveedor</h1>

    <div class="modal-body">
        {{ include('proveedor/_form.html.twig', {'button_label': 'Actualizar'}) }}
    </div>

    <div class="modal-footer">
        <a class="btn btn-outline-primary" href="{{ path('proveedor_index') }}">Volver a la lista</a>
        {{ include('proveedor/_delete_form.html.twig') }}
    </div>
{% endblock %}
