

{% block body %}
    <navbar class="navbar">
        <div class="nav">
            <div class="navbar-brand"> Mercedes </div>
            <a class="nav-item nav-link" href = "{{ path('proveedor_index') }}">Proveedores</a>
            <a class="nav-item nav-link" href = "{{ path('pedido_index') }}">Pedidos</a>
        </div>
    </navbar>

{% endblock %}

